build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks

# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/

ADEChallengeData2016
ADEChallengeData2016*

MultiScaleDeformableAttention.cpython-311-x86_64-linux-gnu.so

test_*.ipynb

output